.container {
  width: 351px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 66px 0 0 105px;
  gap: 68px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 24px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.15000000596046448px;
  text-align: left;
  color: #000B26A3;
}

.blockMaterial {
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.cources {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.cources_title {
  font-size: 20px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.15000000596046448px;
  text-align: left;
  color: #000B26A3;

}

.cources_itemList {
  display: flex;
  flex-direction: column;
  padding-left: 14px;
  gap: 10px;
}

.cources_item {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.15000000596046448px;
  text-align: left;
  color: #000B26A3;
  transition: all 0.5s;
  width: max-content;
}

.cources_itemMainPage {
  user-select: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.15000000596046448px;
  text-align: left;
  color: #000B26A3;
  transition: all 0.5s;
  width: max-content;
}

.cources_item:hover {
  cursor: pointer;
  transition: all 0.5s;
  text-decoration: underline;
}

.signIn {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.signIn:hover {
  cursor: pointer;
}

.signin_button {
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #000B26CC;
}

.account {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.account:hover {
  cursor: pointer;
}

.account_button {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #000B26CC;
}